<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="row">
      <div class="col-lg-9 col-md-8 col-sm-12 blog-post">
        <%= render 'post' %>

        <%= render "share", post: @post %>

        <div class="comments">
          <%= render 'comments' %>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="content">
          <%= render "/common/user_info_short", user: @post.author %>
        </div>

        <p></p>

        <%= render '/refinery/blog/shared/body_content_right' %>

        <p>
          <%= render "/common/facebook_feed" %>
        </p>

        <p>
          <%= render "/common/twitter_feed" %>
        </p>
      </div>
    </div>
  </div>
</div>


<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>

<% content_for :meta do %>
  <meta property="og:url" content="<%= refinery.blog_post_url(@post) %>">
  <meta property="og:title" content="<%= @post.title %>">
  <meta property="og:description" content="<%= strip_tags @post.custom_teaser %>">

  <% if @post.featured_image.present? %>
    <meta property="og:image" content="<%= @post.featured_image.url({ host: [request.protocol, request.host].join("") }) %>">
    <meta property="og:image:width" content="<%= @post.featured_image.width %>">
    <meta property="og:image:height" content="<%= @post.featured_image.height %>">
  <% elsif @post.featured_image_url.present? %>
    <meta property="og:image" content="<%= @post.featured_image_url %>">
  <% else %>
    <meta property="og:image" content="<%= image_url("logo_full") %>">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="727">
    <meta property="og:image:height" content="779">
  <% end %>

<% end %>
