<div class="container">
  <div class="row">

    <div class="col s12 m12 l9 xl9">
      <div class="card">
        <div class="card-content">
          <%= render 'post' %>
          <%= render "share", post: @post %>
          <div class="comments">
            <%= render 'comments' %>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l3 xl3">
      <%= render "/common/user_info", user: @post.author %>

      <div class="card-panel">
        <%= render '/refinery/blog/shared/body_content_right' %>
      </div>

      <%= render "/common/facebook_feed" %>

      <%= render "/common/twitter_feed" %>
    </div>

  </div>
</div>



<% content_for :meta do %>
  <meta property="og:url" content="<%= refinery.blog_post_url(@post) %>">
  <meta property="og:title" content="<%= @post.title %>">
  <meta property="og:description" content="<%= strip_tags @post.custom_teaser %>">

  <% if @post.featured_image.present? %>
    <meta property="og:image" content="<%= @post.featured_image.url({ host: [request.protocol, request.host].join("") }) %>">
    <meta property="og:image:width" content="<%= @post.featured_image.width %>">
    <meta property="og:image:height" content="<%= @post.featured_image.height %>">
  <% elsif @post.featured_image_url.present? %>
    <meta property="og:image" content="<%= @post.featured_image_url %>">
  <% else %>
    <meta property="og:image" content="<%= image_url("logo_full") %>">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="727">
    <meta property="og:image:height" content="779">
  <% end %>
<% end %>
