
<div class="row content">
  <h2><%= @page.title %></h2>

  <div class="col-sm-12">
    <% @page.parts.where(slug: 'body').each do |part| %>
      <%- if part.body.present? %>
        <article class="page-body">
          <%= part.body.html_safe %>
        </article>
      <% end %>
    <% end %>
  </div>
</div>

<%- Refinery::Authentication::Devise::User.order(:username).each do |user| %>
  <div class="row content">
    <div class="col-lg-3">
      <% if user.profile_image.present? %>
        <%= image_tag user.profile_image.url %>
      <% end %>
    </div>
    <div class="col-lg-9">
      <h3><%= user.username %></h3>
      <% if user.description.present? %>
        <p>
          <%= user.description.html_safe %>
        </p>
      <% end %>
      <div>
        <ul class="list-inline">
          <% if user.twitch_username.present? %>
            <li>
              <%= link_to user.twitch_username, "https://www.twitch.tv/#{user.twitch_username}", class: "social-media-icon twitch", target: "_blank" %>
            </li>
          <% end %>
          <% if user.youtube_username.present? %>
            <li>
              <%= link_to user.twitch_username, "https://www.youtube.com/channel/#{user.youtube_username}", class: "social-media-icon youtube", target: "_blank" %>
            </li>
          <% end %>
          <% if user.twitter_username.present? %>
            <li>
              <%= link_to user.twitter_username, "https://www.twitter.com/#{user.twitter_username}", class: "social-media-icon twitter", target: "_blank" %>
            </li>
          <% end %>
          <% if user.psn_username.present? %>
            <li>
              <span class="social-media-icon psn">></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
