<% @page.parts.where(slug: 'body').each do |part| %>
  <%- if part.body.present? %>
    <h2><%= @page.title %></h2>

    <%= part.body.html_safe %>
  <% end %>
<% end %>

<ul class="collection">
  <%- Refinery::Authentication::Devise::User.order(:username).each do |user| %>
    <li class="collection-item avatar">
      <% if user.profile_image.present? %>
        <%= image_tag user.profile_image.url, class: 'circle' %>
      <% end %>
      <span class="title"><strong><%= user.username %></strong></span>
      <p>
        <%= user.description.html_safe %>
      </p>
    </li>
  <% end %>
</ul>

