<h2><%= @page.title %></h2>

<div class="row">
  <div class="col-sm-12">
    <% @page.parts.where(slug: 'body').each do |part| %>
      <%- if part.body.present? %>
        <article class="page-body">
          <%= part.body.html_safe %>
        </article>
      <% end %>
    <% end %>
  </div>
</div>

<%- Refinery::Authentication::Devise::User.all.each do |user| %>
  <div class="row">
    <div class="col-lg-3">
      <%= image_tag user.profile_image.url %>
    </div>
    <div class="col-lg-9">
      <h3><%= user.username %></h3>
      <p>
        <%= user.description.html_safe %>
      </p>
    </div>
  </div>
<% end %>
