<div class="row">
  <div class="col s12 m12 l7 xl9">
    <div class="row">
      <%- Refinery::Blog::Post.order("published_at DESC").where(draft: false).limit(10).each do |post| %>
        <div class="col s12 m6 l6 xl4">
          <%= render 'refinery/blog/shared/post', post: post %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col s12 m2 l5 xl3">
    <div>
      <%= render "common/twitch_users_status" %>
    </div>

    <div>
      <%= render "common/latest_youtube_video" %>
    </div>

    <div>
      <%= render "common/facebook_feed" %>
    </div>

    <div>
      <%= render "common/twitter_feed" %>
    </div>
  </div>
</div>
