<div class="row">
  <div class="col s12 m12 l7 xl9">
    <h3><%= @category.title %></h3>

    <% if @posts.any? %>
      <div class="row blog-posts-grid">
        <%- @posts.each do |post| %>
          <div class="col s12 m12 l6 xl4">
            <%= render "/refinery/blog/shared/post", post: post %>
          </div>
        <% end %>
      </div>

      <div class="center">
        <%= paginate @posts %>
      </div>
    <% else %>
      <p>
        <%= t('.no_posts') %>
      </p>
    <% end %>
  </div>

  <div class="col s12 m12 l5 xl3">
    <div class="content">
      <%= render "/refinery/blog/shared/categories" %>
    </div>
  </div>
</div>

<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
