<%= render "/refinery/blog/shared/categories" %>
<%= render "/refinery/blog/shared/tags" %>
<%= render "/refinery/blog/shared/most_popular_posts" %>
<%= render "/refinery/blog/shared/rss_feed" %>
<%= blog_archive_widget %>
<p>
  <%= render "/common/facebook_feed" %>
</p>
<p>
  <%= render "/common/twitter_feed" %>
</p>
