<% if post.live? %>
  <article class="card medium hoverable" id="<%= dom_id(post) %>">
    <div class="card-image image-zoom">
      <% if post.featured_image.present? || post.featured_image_url.present? %>
        <%= link_to refinery.blog_post_path(post), class: "featured-image image-zoom" do%>
          <%= image_tag post.featured_image ? post.featured_image.url : post.featured_image_url %>
        <% end %>
      <% end %>

      <%= link_to post.title, refinery.blog_post_path(post), class: 'card-title' %>

    </div>

    <div class="card-content">
      <div>
        <%= post.author.username if post.author.present? %>
        <time datetime="<%=l post.published_at.to_date, :format => :default %>" class='posted_at'>
          @ <%= l(post.published_at.to_date, :format => :short) %>
        </time>
      </div>

      <% if (categories = post.categories).any? %>
        <div class="">
          <% categories.each_with_index do |category, index| %>
            <div class="chip">
              <%= link_to category.title, refinery.blog_category_path(category) -%>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if post.source_url.present? %>
        <div class='blog_source'>
          <%= "#{t('source', :scope => 'refinery.blog.posts.show')}: " %>
          <%= link_to (post.source_url_title.blank? ? post.source_url : post.source_url_title), post.source_url %>
        </div>
      <% end %>

      <%= ((post.custom_teaser.present? && post.custom_teaser) || post.body).html_safe %>
    </div>
    <div class="card-action">
      <%= link_to t('read_more', :scope => 'refinery.blog.shared.posts'), refinery.blog_post_path(post) %>
    </div>
  </article>
<% end %>
