<% if post.live? %>
  <article class="blog_post" id="<%= dom_id(post) %>">
    <header>
      <section class='details'>
        <%= post.author.username if post.author.present? %>
        <time datetime="<%=l post.published_at.to_date, :format => :default %>" class='posted_at'>
          @ <%= l(post.published_at.to_date, :format => :short) %>
        </time>
        <% if (categories = post.categories.translated).any? %>
          <aside class='filled_in'>
            <%= t('filled_in', :scope => 'refinery.blog.posts.show') %>
            <%=raw categories.collect { |category| link_to category.title, refinery.blog_category_path(category) }.to_sentence %>
          </aside>
        <% end %>
        <% if (tags = post.tags).any? %>
          <% tags.each do |tag| %>
            <%= link_to "##{tag}", refinery.blog_tagged_posts_path(tag.id, tag.name.parameterize), class: "post-tag-#{tag}" %>
          <% end %>
        <% end %>
      </section>
      <h2><%= link_to post.title, refinery.blog_post_path(post) %></h2>
    </header>
    <section class='clearfix'>
      <% if post.featured_image.present? || post.featured_image_url.present? %>
        <%= image_tag post.featured_image ? post.featured_image.url : post.featured_image_url %>
      <% end %>

      <% if blog_post_teaser_enabled? %>
        <%= blog_post_teaser(post) %>
      <% else %>
        <%= post.body.html_safe %>
      <% end %>
    </section>
    <footer>
      <p>
        <% if blog_post_teaser_enabled? && post.custom_teaser.present? %>
          <span>
            <%= link_to t('read_more', :scope => 'refinery.blog.shared.posts'), refinery.blog_post_path(post) %>
          </span>
        <% end %>

        <% if Refinery::Blog::Post.comments_allowed? %>

          <span class='comment_count'>
            <%= link_to refinery.blog_post_path(post) do %>
              <%= content_tag :i, "0", "class" => "fb-comments-count", "data-href" => refinery.blog_post_url(post) %>
              <i class="fa fa-comments"></i>
            <% end %>
          </span>
        <% end %>
      </p>
    </footer>
  </article>
<% end %>
