<meta charset='<%= Rails.application.config.encoding %>' />
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
<title><%= browser_title(yield(:title)) %></title>
<%= tag(:meta, name: 'description', content: @meta.meta_description) if @meta.meta_description.present? -%>
<%= tag(:link, href: request.protocol+request.host_with_port+@canonical, rel: 'canonical') if @canonical.present? -%>
<%= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend -%>
<%= tag(:meta, name: 'keywords', content: "Destiny Info Polska Informacje Destiny 2 Mapy Trials of Osiris Xur Najnowsze informacje Polski klan nowości" )%>
<%= yield :meta %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typeplate-starter-kit/3.0.1/css/typeplate.min.css" />
-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<%= stylesheet_link_tag "application" %>
<%= yield :stylesheets %>

<%= render '/refinery/google_analytics' %>

<%= javascript_include_tag 'modernizr-min' %>
