<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="https://use.fontawesome.com/3cc7f47aec.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/vue"></script>

<script>
  var dip = {
    twitchClientId: "<%= Rails.application.secrets.twitch_client_id.html_safe %>",
    youtubeApiKey: "<%= Rails.application.secrets.youtube_api_key.html_safe %>"
  }


  $(document).ready(function() {
    imagesLoaded($('.blog-posts-grid'), function() {
      $('.blog-posts-grid').masonry({
        itemSelector: '.blog-posts-grid-item'
      });
    });

    $(".blog-post img").wrap(function() {
      return ["<a data-fancybox='group' href='", this.src ,"'></a>"].join('');
    })

    window.dipApp = new Vue({
      el: "#dipApp",
      data: {
        vent: new Vue(),
        twitchClientId: "<%= Rails.application.secrets.twitch_client_id.html_safe %>",
        youtubeApiKey: "<%= Rails.application.secrets.youtube_api_key.html_safe %>"
      }
    });
  });

</script>

<script>
  // Load the IFrame Player API code asynchronously.
  var apiKey = "<%= Rails.application.secrets.youtube_api_key %>";
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.

  function onYouTubePlayerAPIReady() {
    window.dipApp.vent.$emit('onYouTubePlayerAPIReady');
  }
</script>

<%= javascript_include_tag 'application' %>
<%= yield :javascripts -%>
